{% include "profile_admin.html" %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <h3>Краткая информация по складу</h3>
        <ul>
            <li>На складе продуктов на сумму: {{product_summ}}</li>
            <li>На складе долгов на сумму: {{product_debt}}</li>
        </ul>
        <a href="/admin/roles/stock/" target="_blank">Просмотреть склад</a>
        <br/>
        <br/>
        <b>Последний переучет №{{r_id}}</b>
        <ul>
            <li>Прогресс: {{progress}}</li>
            <li>Превышение нормы: {{plus}} продуктов</li>
            <li>Недостача: {{minus}} продуктов</li>
        </ul>
        <a href="/accounts/profile/info_about_rediscount/" target="_blank">Подробней про переучет</a>             <a href="/accounts/profile/all_rediscounts_info/" target="_blank">Отчеты по переучетам</a>
        <br/>
        <br/>
        <b>Приход/расход продуктов</b>
        <ul>
            <li>Закуплено: {{buyed}}</li>
            <li>Списано: {{spis}}</li>
        </ul>
        <a href="/accounts/profile/receipt/" target="_blank">Подробней о приходе</a>
        <a href="/accounts/profile/consumption/" target="_blank">Подробней о списаниях</a>
        <br/>
        <a href="/accounts/profile/all_receipt/" target="_blank">Приход</a>
        <a href="/accounts/profile/all_consumption/" target="_blank">Списание</a>
        <br/>
        <br/>
        <h3>Касса</h3>
        <ul>
            <li>Наличные: {{nal}}</li>
            <li>Безналичные: {{beznal}}</li>
            <li><a href="/admin/roles/receiving_money/" target="_blank">Получено: {{taken}} </a></li>
            <li>Выдано: {{gaven}}. <a href="/admin/roles/nakl_money_zakup/" target="_blank">Закупщику - {{zak}}</a>    <a href="/admin/roles/nakl_money_other/" target="_blank">Остальным - {{oth}}</a></li>
        </ul>
    </body>
</html>