{% include "profile.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Конвертер</title>
</head>
<body>
    {% if indic == 1 %}
        <script type="text/javascript">alert("Выберите разные типы валют")</script>
    {% elif indic == 2 %}
        <script type="text/javascript">alert("Недостаточное кол-во исходной валюты")</script>
    {% endif %}
    <p align="center">
        <form method="POST" id="form">
        {% csrf_token %}
        <select name="from" required>
            {% for m in money %}
            <option value="{{m.types.types}}">{{m.types.types}} - {{m.kolvo}}</option>
            {% endfor %}
        </select>
        <b>==></b>
        <select name="to" required>
            {% for m in money %}
            <option value="{{m.types.types}}">{{m.types.types}}</option>
            {% endfor %}
        </select>
        <br/>
        <b>Введите курс</b>
        <br/>
        <input type="number" step="0.1" min=0.1 name="from_m" required> ==> <input type="number" step="0.1" min=0.1 name="to_m" required>
        <br/>
        <b>Введите кол-во:</b><br/> <input type="number" step="0.1" min=0.1 name="kolvo" required>
        <br/>
        <input type="submit" value="Обменять">
    </form>
</body>
</html>