<html>
    <head>
        <title>Принятие товара</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <p align="center"><img src="/media/{{link}}"></p>
        <p align="center">{{product}}<p>
        <ul>
            <li>Нужно: {{kolvo}} {{ed_izm}}</li>
            {% if indic == 1 %}
            <li>Мин.срок: {{min}}</li>
            {% endif %}
            {{zakup}}
        </ul>
        <form method="POST">
            {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Принять" >
    </form>
    {% if indic == 1 %}
        <a href="../zakup/return_product?n={{n}}&id={{id}}">Вернуть</a>
    {% elif indic == 0 %}
        <a href="../zagot/return_product?n={{n}}&id={{id}}">Вернуть</a>
    {% endif %}
    <a href="/accounts/profile">Кабинет</a>