{% include "profile.html" %}
{% load staticfiles %}

<html>
    <head>
        <title>Выдать деньги</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% if indic == 1 %}
        <script type="text/javascript">alert("Недостаточно денег в кассе!")</script>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Выдать" >
    </body>
</html>