<html>
<!DOCTYPE html>
<head>
    <title>Кабинет</title>
    <meta charset="utf-8">
</head>
<body>
        <p><center>Имя: {{user}}</center></p>
        <p><center>Должность: {{job}}</center></p>
        <p align="right"><a href="/logout">Выйти</a></p>
        <div>
            <h4>
            <a href="/accounts/profile">Главная</a>    <a href="/accounts/profile/sklad">Завсклад</a>    <a href="/accounts/profile/kassir">Кассир</a>     <a href="/accounts/profile/zakup">Закупка</a>    <a href="/accounts/profile/zagot">Заготовка</a>    <a href="/admin">Админ-панель</a>
        </h4>
        </div>
</body>
</html>