{% include "profile.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}
        <br/>
        <center><a href="select">Принять товар</a></center>
        <br/>
        {% if indic == 1 %}
            <center><a href="spis/zagot?n={{nak_id}}" style="color: red">Списать заготовщику</a></center>
            <br/>
        {% endif %}
        <center><a href="spis">Списать</a></center>
        <br/>
        <center><a href="nakl_orders">Накладные на списание</a></center>
        <br/>
        <center><a href="/accounts/profile/codes_table">Таблица штрих-кодов</a></center>
    </body>
</html>