{% include "profile.html" %}
{% load custom_templates %}
<html>
<head>
    <script type='text/javascript'>
        function addFields(){
            var container = document.getElementById("container");
            var elements = document.querySelectorAll('.barcode');
            var ind=elements.length;
            var i=elements[ind-1];
            if (typeof i == "undefined") {var j=0;}
            else {var j=parseInt(i.id)+1;}
            container.appendChild(document.createElement("br"));
            container.appendChild(document.createTextNode("Штрих-код: "));
            var input = document.createElement("input");
            input.type = "text";
            input.name = "name";
            input.className = "barcode";
            input.id=j;
            input.addEventListener('click', function (){
                document.getElementById('input_id').value = j;
            });
            container.appendChild(input);
            container.appendChild(document.createElement("br"));
            var d=document.createElement("div");
            d.id="info"+j;
            container.appendChild(d);
            container.appendChild(document.createTextNode("Кол-во: "));
            var input2=document.createElement("input");
            input2.type = "text";
            input2.name = "kol";
            container.appendChild(input2);
            container.appendChild(document.createElement("br"));

        }
    </script>

    <script type="text/javascript">
        function send_form(){
            form=document.getElementById('container')
            form.action="/accounts/profile/spis/"
            form.submit()
        }
    </script>
    <style type="text/css">
        .form {float: left;}
        .photo {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
        #upload {display: none;}
        label {cursor: pointer;}
    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    {% if indic == 1 %}
    <br/>
    Заготовщику {{name}} нужно выдать:
    <ul>
        {% for ing in ingr %}
        <li>{{ing|index:0}} - {{ing|index:1}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form">
    <form id="container" method="POST" target="_blank">
        {% csrf_token %}
        <br/>
        {% if indic == 1 %}
        <input type="hidden" name="zagot_id" value="{{nak_id}}" form="container">
        {% endif %}
        {{form}}
    </form>
    <a href="#" id="filldetails" onclick="addFields()">Добавить поля</a>
    <br/><br/><br/>
    <div id="eeee"></div>
    {% if indic == 1 %}
        <button onclick="send_form()">Отправить</button>
    {% else %}
        <button onclick="document.getElementById('container').submit();">Отправить</button>
    {% endif %}
    </div>
    <div class="photo" id="photo">
            <form method="post" enctype="multipart/form-data" id="barcode">
            {% csrf_token %}
            <label for="upload"><img src="https://images.clipartlogo.com/files/istock/previews/1005/100582913-camera-icon-professional-photocamera-sign.jpg"></label>
            <input type="file" accept="image/*" name="barcode" id="upload">
            <input type="hidden" id="input_id" name="input_id" value="">
            <div id="error"></div>
    </div>

    <script>
        $(function(){ // это краткий запись $(document).ready
            $(document).on('blur', '.barcode', function() {
                clickId = $(this).attr('id');
                value=$(this).val();
                var tag="#"+"info"+clickId;
                vToken="token"
                $.ajax({
                    url: '/about_product/',
                    type: 'POST',
                    headers: {
                        'Accept':'application/json',
                        'Authorization': 'Bearer ' + vToken
                    },
                    data: {clickId:value},
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    success: function(data){
                        if(data){
                            tag="#"+"info"+clickId;
                            b=document.createElement("p")
                            $(tag).append(b)
                            $(tag).text(data["clickId"]);
                            if (data['f']==1){
                                $(tag).css('color','red')}
                            else {
                                $(tag).css('color','green')}
                            $(tag).append(b)
                        }
                    }
                });
            });
            $('#upload').on("change", function(){
                  files = $('#upload')[0].files;
                  var form = new FormData();
                  form.append('barcode', files[0]);
                  form.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                  $.ajax({
                    url: '/decode_barcode/',
                    type: 'POST',
                    data: form,
                    csrfmiddlewaretoken: '{% csrf_token %}',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        var input_id=$('#input_id').val()
                        console.log(data['result'])
                        var field="#"+input_id;
                        if (data['result']=="error"){
                            b=document.createElement("p");
                            $('#error').append(b);
                            $('#error').text("Не удалось распознать штрих-код! Попробуйте еще раз!");
                            $('#error').css('color','red');
                        }
                        else {
                            $(field).val(data['result'])
                            $(field).focus()
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>