{% include "profile.html" %}
{% load render_table from django_tables2 %}
{% load custom_templates %}
<html>
    <head>
        <title>Заготовка товара</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
    {% render_table table %}
    {% if indic == 1 %}
    {% for i in range %}
    </br>
    Продукт: {{ products|index:i }}
    <br/>
    Нужно заготовить: {{kol|index:i}}
        <form method="POST" id="form">
            {% csrf_token %}
        <table>
            {{ forms|index:i }}
        </table>
            <input type="submit" form="form" value="Отправить" >
    {% endfor %}
        </form>
    {% else %}
        <h3><center>Нет заявок на заготовку</center></h3>
    {% endif %}
    </body>
</html>