{% if status == 1 %}
    {% include "profile_admin.html" %}
{% else %}
    {% include "profile.html" %}
{% endif %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
<html>
    <head>
    <title>Заготовка</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
    {% if indic == 1 %}
    <br/>
    У вас непринятая накладная!<a href="/accounts/profile/zagot/accept">Принять</a>
    <br/>
    {% endif %}
    {% if f == 1 %}
    <br/>
    У вас непринятые ингридиенты! <a href="/accounts/profile/zagot/accept_products?n={{last_id}}">Принять</a>
    <br/>
    {% endif %}
        <form method="POST" action="/accounts/profile/zagot/list/">
            {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Ok" >
    </form>
    <br/>
    <a href="/accounts/profile/returned/zagot">Возврат</a>
    </body>
</html>